.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
  
.welcome-image-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #99aed1;
    margin-bottom: 5px;
    perspective: 1000px;
    transition: transform 2.6s ease;
    transform-style: preserve-3d;
}

.welcome-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome-image-container:hover {
    transform: rotateY(360deg);
}

.card {
    width: 80%;
    max-width: 600px;
    text-align: center;
    font-family: Ubuntu-Medium;
}

.welcome-links a {
    margin: 0 10px;
    font-size: 24px;
    font-family: Ubuntu-Medium;
    color: #333;
}

.welcome-links a:hover {
    color: #007bff;
}

.welcome-links a:hover .github {
    color: #c9510c;
}

.welcome-links a:hover .linkedin {
    color: #0077b5;
}

.welcome-links a:hover .spotify {
    color: rgb(30,215,96);
}

.welcome-links a:hover .email {
    color: #007bff; 
}

.wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
100% { transform: rotate( 0.0deg) }
}
  