.contact-me {
  max-width: 800px;
  margin: auto;
  background-color: rgb(255, 251, 248);
  /* background-color: black; */
  border-radius: 10px;
  padding: 2px;
}

.contact-me h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

.contact-form .form-control {
  text-align: left;
  border-radius: 5px;
}

.contact-form .btn-primary {
  width: 100%;
  border-radius: 5px;
}

.contact-me .form-label {
  text-align: left !important;
  display: block;
}
